<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home airbnb</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <link href="output.css" rel="stylesheet">
</head>
<body>
    <header class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
    <h1  class="text-3xl font-bold mb-6 text-center text-gray-800"> welcome to home page </h1>
    </header>
    <main>
    <a href="/host/add-home"> add-home </a>
    </main>
</body>
</html>