<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home airbnb</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <link href="output.css" rel="stylesheet">
</head>
<body>
    <header>
    <h1 class="text-red-500"> Here are your ragistered homes </h1>
    <ul>
        <% ragisteredHomes.forEach(home => { %>

            <li>
            <%= home.houseName %>
            </li>
      <%  })  %>
    </ul>

    </header>
    <main>
    <a href="/host/add-home"> add-home </a>
    </main>
</body>
</html>